"Inventory" 
{
	//Commands to use.
    "inventory_commands"         		"!inventory /inventory !inv /inv"	//Open Inventory Menu.
	
	//Hide categories with no items or show them.
	//Default: 0
	"hide_empty_categories"				"0"
}